.home
    width 100%

    .grid
        make-grid(2)

        @media only screen and (max-width: 600px)
            make-grid(1)

    .messagebox
        margin 20px 0 20px 0
        display flex
        position relative
        align-items center
        align-content center
        background-color $messagebox
        padding 15px

        @media only screen and (max-width: 600px)
            margin 10px 0 10px 0
            padding 7px

    .speakout
        margin-right 10px
        text-align center
        width 20%
        @media only screen and (max-width: 600px)
            width 30%
            font-size 12px

    .thumb
        font-weight 300
        width 70%
    
    .closemessage
        text-align center
        width 10%

    .register
        margin-top 20px
        position relative
        margin-bottom 20px

    .imagepeople
        opacity 0.2
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        object-fit cover
        
        
    .registercontent
        position relative;
        top 0;
        left 0;
        padding 5px 15px 5px 5px 
        justify-content space-between
        display flex
        width 100%

    .register p
        font-size 24px
        font-weight 300

    .regbutton
        margin 28px 5px 0 0
        height 85%
        width 150px
        background transparent
        color black
        border solid 0.8px black
        font-weight 300
        font-size 14px

