.home
    .grid
        make-grid(2)

    .messagebox
        display flex
        position relative

    .speakout
        width 20%

    .thumb
        width 70%
    
    .closemessage
        width 10%

.register
    margin-top 15px
    height 60px
    display flex
    justify-content space-between

.register h1
    align-items center
    height inherit

.regbutton
    background transparent
    color black
    border solid black

