.card
    position relative
    padding-top 50%
    .imageperson 
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        object-fit cover

    .cardcontent
        color white
        position relative
        padding 0 40px 20px 

    .actions
        display flex

    .likebutton
        width 40px 
        display inline-block
        background $likecolor
        margin-right 10px
    
    .icon
        position absolute
        top 0
        left 0
    
    .like
        background $likecolor
    
    .dislike
        background $dislikecolor

    .votebar
        position relative
        display flex
        