.footer
    background-color transparent
    display flex
    justify-content space-between
    height 40px

.faceicon
    width 40px
    height 40px
    padding-right 10px
    object-fit cover

.twittericon
    width 40px
    width 40px
    padding-right 10px
    object-fit cover

.footer a
    height inherit
    color black
    display flex
    text-decoration none
    align-items center
    padding: 0 10px

.footermenu
    height inherit

.footer ul
    height inherit 
    display flex

.footer ul li
    height inherit
    font-size 14px
    font-weight 300

.footericons
    height inherit
    display flex
    margin-bottom 30px

.footer span
    font-size 14px
    font-weight 300
    padding 10px 10px
