.footer
    background-color transparent
    display flex
    justify-content space-between
    height 40px

.followicon
    width 40px

.footer a
    height inherit
    color black
    display flex
    text-decoration none
    align-items center
    padding: 0 10px

.footermenu
    height inherit

.footer ul
    height inherit 
    display flex

.footer ul li
    height inherit

.footer span 
    height inherit
