.maincard
    position relative
    padding-top 10%

    .imageperson 
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        object-fit cover

    .cardcontent
        width 35%
        color white
        position relative
        background-color gray
        opacity 70%
        margin-left 100px
        padding 0 40px 20px

    .cardcontent span 
        opacity 100%

    .actions
        display flex

    .likebutton
        width 40px 
        display inline-block
        background $likecolor

    .like
        background $likecolor
    
    .dislike
        background $dislikecolor

    .votebar
        display flex
        height 40px

    .clossing
        height inherit
        width 30%
        align-items center

    .days
        height inherit
        width 30%