ul
    margin 0
    padding 0
    list-style none

.navBar
    display flex
    color white
    justify-content space-between
    height 90px
    position relative

.menu
    height inherit 

.navBar a
    height inherit 
    display flex
    color white
    text-decoration none
    align-items center
    padding: 0 10px

.navBar button
    background transparent
    color white
    height inherit  
    align-items center

.navBar ul
    height inherit 
    display flex

.navBar ul li
    height inherit

.logo
    height inherit

.logo h1
    display flex
    height inherit 
    align-items center
    