ul
    margin 0
    padding 0
    list-style none

.navBar
    display flex
    color white
    justify-content space-between
    height 90px
    position absolute
    z-index 1
    width inherit
    padding-left 8%

.menu
    height inherit 

.navBar a
    height inherit 
    display flex
    color white
    text-decoration none
    align-items center
    padding: 0 10px

.navBar button
    background transparent
    color white
    height inherit  
    align-items center

.navBar ul
    height inherit 
    display flex

.navBar ul li
    height inherit
    font-weight 300
    font-size 16px

.logo
    height inherit

.logo h1
    display flex
    height inherit 
    align-items center
    