make-grid($cols, x=25px, y=25px)
  display grid
  grid-template-columns repeat($cols, 1fr)
  grid-template-rows auto
  grid-gap x y

$likecolor = #31c0ba
$dislikecolor = #feb433
$likeselectcolor = #168581
$dislikeselectcolor = #b47b16
$messagebox = #ebebeb
$opacitybuttons = 0.7
$graycardcolor = #605959